<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0"/>
	<title>多看阅读</title>
	<link rel="shortcut icon" href="../public/images/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="../public/css/base.css"/>
	<link rel="stylesheet" href="../public/css/index.css"/>
</head>
<body>
	<div class="viewport">
		<!--侧边导航栏-->
		<div class="navs">
			<dl>
				<dt class="login">
				<div class="avatar">
					<img src="../public/images/avatar.png" alt="">
				</div>
				<span>登录</span>
				</dt>
				<dd class="">
					<a href="../index.html" class="icon-home">
						<span>首页</span>
					</a>
				</dd>
				<dd>
					<a href="../views/author.html" class="icon-pencil">
						<span>作者</span>
					</a>
				</dd>
				<dd>
					<a href="../views/category.html" class="icon-menu">
						<span>浏览</span>
					</a>
				</dd>
				<dd>
					<a href="../views/favourite.html" class="icon-heart">
						<span>喜欢</span>
					</a>
				</dd>
				<dd>
					<a href="../views/collect.html" class="icon-file-empty">
						<span>收藏</span>
					</a>
				</dd>
				<dd>
					<a href="../views/settings.html" class="icon-cog">
						<span>设置</span>
					</a>
				</dd>

			</dl>
			<div class="extra">
				<a href="javascript:;" class="icon-image">夜晚</a>
				<a href="javascript:;" class="icon-download">离线</a>
			</div>
		</div>
		<!--搜索栏-->
		<header class="dk_header header clearfix">
			<div class="dk_header_box clearfix">
				<a href="javascript:;" class="m_logo">多看阅读</a>
				<a href="javascript:;" class="m_my menu"><b></b></a>
				<a href="javascript:;" class="m_search"><b></b></a>
			</div>
		</header>
		<div class="container">
			<!-- 主体 -->
			<div class="body">
				<dl class="author">
					<dt>本周推荐</dt>
					<dd>
						<div class="avatar">
							<img src="../public/images/avatar_1.png" alt="">
						</div>
						<div class="info">
							<h5>深焦</h5>
							<p>我们在全世界和你看电影</p>
						</div>
					</dd>
					<dd>
						<div class="avatar">
							<img src="../public/images/avatar_2.png" alt="">
						</div>
						<div class="info">
							<h5>尉迟上九</h5>
							<p>偏执的电影爱好者</p>
						</div>
					</dd>
					<dd>
						<div class="avatar">
							<img src="../public/images/avatar_3.png" alt="">
						</div>
						<div class="info">
							<h5>风行水上</h5>
							<p>本名高军，画家</p>
						</div>
					</dd>
					<dd>
						<div class="avatar">
							<img src="../public/images/avatar_1.png" alt="">
						</div>
						<div class="info">
							<h5>深焦</h5>
							<p>我们在全世界和你看电影</p>
						</div>
					</dd>
					<dt>热门作者</dt>
					<dd>
						<div class="avatar">
							<img src="../public/images/avatar_3.png" alt="">
						</div>
						<div class="info">
							<h5>风行水上</h5>
							<p>本名高军，画家</p>
						</div>
					</dd>
					<dd>
						<div class="avatar">
							<img src="../public/images/avatar_2.png" alt="">
						</div>
						<div class="info">
							<h5>尉迟上九</h5>
							<p>偏执的电影爱好者</p>
						</div>
					</dd>
				</dl>
			</div>
		</div>
	</div>

	<script src="../js/index.js"></script>
</body>
</html>